@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This app is triggered from GitHub action CI/CD</h1>
    <p>To version 4 of this app from external git hub</p>
</div>
